@** Grupp 2
    * Senast ändrat: 2014 11 11
    * Version: 0.18*@

@model LjusOchMiljoAB.Models.Produkt

@{
    ViewBag.Title = "Detaljer";
}

<h2>Detaljer</h2>

        @*Visar all information om en produkt*@
        <div>
            <h4>Produkt</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Namn)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Namn)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Pris)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Pris)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Typ)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Typ)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Farg)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Farg)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Bildfilnamn)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Bildfilnamn)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Ritningsfilnamn)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Ritningsfilnamn)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.RefID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RefID)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Beskrivning)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Beskrivning)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Montering)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Montering)
                </dd>

            </dl>
        </div>
        <p>
            @*Problematiskt så går det här tillbaka till produktlistan även om man kommer
                här från prislistan, så jag tog bort det (tillbaka knappen fungerar ändå).*@
            @*@Html.ActionLink("Back to List", "Index")*@
        </p>
