@model LjusOchMiljoAB.Models.Produkt

@{
    ViewBag.Title = "Detaljer";
}

    <h2>Detaljer</h2>

    @using (Html.BeginForm())
{
        @Html.AntiForgeryToken()
        <div>
            <h1>@Html.DisplayFor(model => model.Namn)</h1>
        </div>
        <br />
        <div>
            <table>
                <tr>
                    <td>
                        @{
                            string img = @"/Content/Bilder/default.png";
                            if (File.Exists(HttpRuntime.AppDomainAppPath + @"Content/Bilder/" + @Html.DisplayFor(model => model.Bildfilnamn) + ".png"))
                            {
                                img = @"/Content/Bilder/" + @Html.DisplayFor(model => model.Bildfilnamn) + ".png";
                            }
                        }
                        <img src=@img height="256" width="256" style="border:solid">
                    </td>
                    <td>&nbsp;</td>
                    <td style="vertical-align: top; text-align:left;">
                        <b>@Html.DisplayNameFor(model => model.Beskrivning):</b><br />@Html.DisplayFor(model => model.Beskrivning)
                        <br />
                        <span>
                            <b>@Html.DisplayNameFor(model => model.Pris):</b>&nbsp;@Html.DisplayFor(model => model.Pris)
                        </span>
                        <br />
                        <span>
                            <b>Produkt @Html.DisplayNameFor(model => model.ID):</b>&nbsp;@Html.DisplayFor(model => model.ID)
                        </span>
                        <br />
                    </td>
                </tr>
            </table>
        </div>
   }
