  @** Grupp 2
    * Senast ändrat: 2014 11 11
    * Version: 0.18*@

@*Lägg till PagedList css objektet*@

@model PagedList.IPagedList<LjusOchMiljoAB.Models.Produkt>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.Title = "Produkter";
}

<h2>Produkter</h2>

@*Med Html.BeginForm gör man det lätt att ladda om sig själv vid sökningar*@
@using (Html.BeginForm("Index", "Produkt", FormMethod.Get))
{
    @Html.AntiForgeryToken()
    //DropDownList hantera val av kategori för visning
    //Html.TextBox är textboxen som tar emot söksträngen vid sökning
    //Sök knappen kör val/sökningen (sökning och val kan användas tillsammans)
    <p>
        Kategori: @Html.DropDownList("produktTyp", "All")
        Namn: @Html.TextBox("sökSträng", ViewBag.filterSträng as string) <br />
        <input type="submit" value="Sök" />
    </p>

    //Kolumner för tabellen - bara ID, Namn, och Bild användas
    //ID och Namn kan användas för att ordna om listan (ordning över alla sidor) 
    //genom att kalla på Index metoden i ProdukterController.
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("ID", "Index",
    new { Ordning = ViewBag.IDOrdning, produktTyp = ViewBag.ProduktTyp, sökSträng = ViewBag.SökSträng, filterSträng = ViewBag.filterSträng, filterProdukt = ViewBag.filterProdukt })
        </th>
        <th>
            @Html.ActionLink("Namn", "Index",
  new { Ordning = ViewBag.NamnOrdning, produktTyp = ViewBag.ProduktTyp, sökSträng = ViewBag.SökSträng, filterSträng = ViewBag.filterSträng, filterProdukt = ViewBag.filterProdukt })
        </th>
        <th>
            Bild
        </th>
        <th></th>
    </tr>

    @*Raderna i tabellen tas fram med en foreach loop (mha bootstap)
      Just nu är 'Detaljer' en länk för att nå produktsidan.  Man kan
      ändra det sedan för att hända när man klicka på bilden (bilder
      finns inte med än med kommer att ersätta Bildfilnamn).*@ 

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Namn)
            </td>
            <td>
                @{
                string img = @"/Content/Bilder/default.png";
                if (File.Exists(HttpRuntime.AppDomainAppPath + @"Content/Bilder/" + item.Bildfilnamn + ".png"))
                    {
                        img = @"/Content/Bilder/" + item.Bildfilnamn+".png";
                    }
                  }

                <img src=@img height="64" width="64">
            </td>
            <td>
                @Html.ActionLink("Detailjer", "Details", new { id = item.ID })
            </td>
        </tr>
}
</table>
<br />
    //Här är PagedList css objektet som hanterar att flytta sig genom sidor baserad
    //på hur många produkter borde visas samtidigt.  Den anväder sig av Index metoden
    //i ProdukterController för att ladda om sidan.
<div id='Paging' style="text-align:center">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, sida => Url.Action("Index",
                                            new { Ordning = ViewBag.OrdningNu, filterSträng = ViewBag.filterVärde, filterProdukt = ViewBag.filterProdukt, sida }))
</div>
}


