  @** Grupp 2
    * Senast ändrat: 2014 11 11
    * Version: 0.18*@

@*Lägg till PagedList css objektet*@

@model PagedList.IPagedList<LjusOchMiljoAB.Models.Produkt>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.Title = "Produkter";
}

<h2>Pristlista</h2>

@*Med Html.BeginForm gör man det lätt att ladda om sig själv vid sökningar*@
@using (Html.BeginForm("Prislista", "Produkt", FormMethod.Get))
{
    //DropDownList hantera val av kategori för visning
    //Html.TextBox är textboxen som tar emot söksträngen vid sökning
    //Sök knappen kör val/sökningen (sökning och val kan användas tillsammans)    
    <p>
        Kategori: @Html.DropDownList("produktTyp", "All")
        Namn: @Html.TextBox("sökSträng", ViewBag.filterSträng as string) <br />
        <input type="submit" value="Sök" />
    </p>
    
    //Kolumner för tabellen - bara ID, Namn, Pris, och Typ (som kategori) användas.
    //Alla kolumner kan användas för att ordna om listan (ordning över alla sidor) 
    //genom att kalla på Prislista metoden i ProdukterController.    
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("ID", "Prislista",
    new { Ordning = ViewBag.IDOrdning, produktTyp = ViewBag.ProduktType, sökSträng = ViewBag.SökSträng, filterSträng = ViewBag.filterSträng, filterProdukt = ViewBag.filterProdukt })
        </th>
        <th>
            @Html.ActionLink("Namn", "Prislista",
     new { Ordning = ViewBag.NamnOrdning, produktTyp = ViewBag.ProduktType, sökSträng = ViewBag.SökSträng, filterSträng = ViewBag.filterSträng, filterProdukt = ViewBag.filterProdukt })
        </th>
        <th>
            @Html.ActionLink("Pris", "Prislista",
    new { Ordning = ViewBag.PrisOrdning, produktTyp = ViewBag.ProduktType, sökSträng = ViewBag.SökSträng, filterSträng = ViewBag.filterSträng, filterProdukt = ViewBag.filterProdukt })
        </th>
        <th>
            @Html.ActionLink("Kategori", "Prislista",
    new { Ordning = ViewBag.TypOrdning, produktTyp = ViewBag.ProduktType, sökSträng = ViewBag.SökSträng, filterSträng = ViewBag.filterSträng, filterProdukt = ViewBag.filterProdukt })
        </th>
        <th></th>
    </tr>

    @*Raderna i tabellen tas fram med en foreach loop (mha bootstap)
        Just nu är 'Detaljer' en länk för att nå produktsidan. Prislistan
        har inga bilder med visar pris och typ utöver namn och id.*@

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Namn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pris)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Typ)
        </td>
        <td>
            @Html.ActionLink("Detailjer", "Details", new { id=item.ID })
        </td>
    </tr>
}
</table>
<br />
//Här är PagedList css objektet som hanterar att flytta sig genom sidor baserad
//på hur många produkter borde visas samtidigt.  Den anväder sig av Prislista metoden
//i ProdukterController för att ladda om sidan.    
<div id='Paging' style="text-align:center">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, sida => Url.Action("Prislista",
                new { Ordning = ViewBag.OrdningNu, filterSträng = ViewBag.filterSträng, filterProdukt = ViewBag.filterProdukt, sida }))
</div>
}