	 @** Grupp 2
	 * Senast ändrat: 2014 11 11
	 * Version: 0.18*@

@{
    ViewBag.Title = "Hem";
}

<h2>Hem</h2>

<div>
@if (User.Identity.IsAuthenticated)
{
    <p>Du är inloggad</p>
    <dl>
        <dt>Användarnamn</dt>
        <dd>@User.Identity.Name</dd>
        <dt>Autentisering</dt>
        <dd>@User.Identity.AuthenticationType</dd>
        <dt>Är Administratör?</dt>
        <dd>@User.IsInRole("Administrator")</dd>
    </dl>
    
@*Länkar till kategorier i textform - kallar Index metoden i ProdukterController för
    att visa med filtrering för typ*@
    <div>
        <br />
        @Html.ActionLink("Inomhus", "Index", "Produkt", new { Ordning = "", produktTyp = "inomhus", sökSträng = "", filterSträng = "", filterProdukt = "inomhus", sida = 1 }, null)
        @Html.ActionLink("Utomhus", "Index", "Produkt", new { Ordning = "", produktTyp = "utomhus", sökSträng = "", filterSträng = "", filterProdukt = "utomhus", sida = 1 }, null)
        @Html.ActionLink("Tillbehör", "Index", "Produkt", new { Ordning = "", produktTyp = "tillbehör", sökSträng = "", filterSträng = "", filterProdukt = "tillbehör", sida = 1 }, null)
        <br />
    </div>

    @*Länk till produktlistan - kallar Index metoden i ProdukterController för att visa
        alla produkter.*@
    <div>
        @Html.ActionLink("Lista av produkter", "Index", "Produkt", new { Ordning = "", produktTyp = "", sökSträng = "", filterSträng = "", filterProdukt = "", sida = 1 }, null)
    </div>

    @*Länk till prislistan - kallar Prislista metoden i ProdukterController för att visa
        prislistan*@
    <div>
        <br />
        @Html.ActionLink("Prislista", "Prislista", "Produkt", new { Ordning = "", produktTyp = "", sökSträng = "", filterSträng = "", filterProdukt = "", sida = 1 }, null)
        <br />
    </div>
}
else
{
    <p>Du är inte inloggad</p>
}
<ul>
    <br />
    @*<li>@Html.ActionLink("Skapa användare", "SkapaAnvändare")</li>*@
    <li>@Html.ActionLink("Logga in", "Inloggning")</li>
    <li>@Html.ActionLink("Logga ut", "Utloggning")</li>
    @*<li>@Html.ActionLink("Test authorized", "SimpleAuthorization")</li>
    <li>@Html.ActionLink("Test auth as kund", "AuthorizedAsFlytzen")</li>*@
    @*<li>@Html.ActionLink("Test auth as administrator role", "AuthorizedAsAdministrator")</li>*@
</ul>
</div>