	 @** Grupp 2
	 * Senast ändrat: 2014 11 11
	 * Version: 0.18*@

@{
    ViewBag.Title = "Hem";
}

<h2>Hem</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div>
@if (User.Identity.IsAuthenticated)
{

@*Länkar till kategorier i textform - kallar Index metoden i ProdukterController för
    att visa med filtrering för typ*@
    <div>
        <br />
        @Html.ActionLink("Inomhus", "Index", "Produkt", new { Ordning = "", produktTyp = "inomhus", sökSträng = "", filterSträng = "", filterProdukt = "inomhus", sida = 1 }, null)
        @Html.ActionLink("Utomhus", "Index", "Produkt", new { Ordning = "", produktTyp = "utomhus", sökSträng = "", filterSträng = "", filterProdukt = "utomhus", sida = 1 }, null)
        @Html.ActionLink("Tillbehör", "Index", "Produkt", new { Ordning = "", produktTyp = "tillbehör", sökSträng = "", filterSträng = "", filterProdukt = "tillbehör", sida = 1 }, null)
        <br />
    </div>

    @*Länk till produktlistan - kallar Index metoden i ProdukterController för att visa
        alla produkter.*@
    <div>
        @Html.ActionLink("Lista av produkter", "Index", "Produkt", new { Ordning = "", produktTyp = "", sökSträng = "", filterSträng = "", filterProdukt = "", sida = 1 }, null)
    </div>

    @*Länk till prislistan - kallar Prislista metoden i ProdukterController för att visa
        prislistan*@
    <div>
        <br />
        @Html.ActionLink("Prislista", "Prislista", "Produkt", new { Ordning = "", produktTyp = "", sökSträng = "", filterSträng = "", filterProdukt = "", sida = 1 }, null)
        <br />
    </div>
    <br />
}
</div>
}
