@model LjusOchMiljoAB.Models.Anvandare

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Anvandare</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Anvandarnamn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anvandarnamn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Losenord)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Losenord)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
